<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923927006659-clfnin48m4rek3sjfph6laua9sd8pf1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923927006659-clfnin48m4rek3sjfph6laua9sd8pf1o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>923927006659-c7hv07rvv363q4v5i6mof3nbuhhakn8k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMC-dDEt_6hxYdSlYht4LQBW1wbEBsLF4</string>
	<key>GCM_SENDER_ID</key>
	<string>923927006659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.r2rekorea.r2reowner</string>
	<key>PROJECT_ID</key>
	<string>r2re-75417</string>
	<key>STORAGE_BUCKET</key>
	<string>r2re-75417.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923927006659:ios:e92de7756cb8b79fa6c176</string>
</dict>
</plist>